/* 
    --bg: #10121B;
    --font-color: #c9cbdb;
    button: #7362d5;
    hover: #8d7dff
 */


/* 
 typography

 for headings
 font-family: 'Roboto Slab', serif!important;

 for p tags
 font-family: 'Roboto', sans-serif;
 18px size
 */