@import './styles/layout';
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box!important;
}

body {
    color: #a4acc4!important;
    font-family: 'Roboto Slab', serif!important;
    font-size: .2rem;
    overflow-x: hidden;
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #0056d898;
    border-radius: 20px;
}


/* body::-webkit-scrollbar-track {
    background-color: rgb(201, 198, 198);
    background-color: transparent!important;
} */

.section-title {
    border: 1px solid #a4acc4;
    width: 15vw!important;
    height: auto;
    justify-content: center;
    display: flex;
    margin: auto;
    padding: 5px;
    border-radius: 25px;
    font-size: 1.5rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    >* {
        text-shadow: 0 2px 0 #000;
    }
}