@import './styles/layout';
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #c9cbdb!important;
    font-family: 'Roboto Slab', serif!important;
    /* font-size: .2rem; */
    overflow-x: hidden;
    overflow: overlay;
    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        font-size: 18px;
    }
    h1 {
        font-size: 2.25rem;
    }
    h3 {
        font-weight: 400;
    }
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #7362d5;
    border-radius: 20px;
}


/* body::-webkit-scrollbar-track {
    background-color: rgb(201, 198, 198);
    background-color: transparent!important;
} */

.section-title {
    border: 1px solid #a4acc4;
    width: 15vw!important;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1.5rem!important;
    padding: 5px;
    border-radius: 25px;
    font-size: 1.5rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    white-space: nowrap;
    >* {
        text-shadow: 0 2px 0 #000;
        font-weight: 400;
        margin: 0;
    }
}


/*  scroll to top  */

.styles_scroll-to-top__2A70v:hover {
    background-color: #8d7dff;
    svg {
        fill: white;
    }
}


/* Desktop First Approach - Bigger to Smaller Screen Size */


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    body p {
        font-size: 1.2rem;
    }
    .section-title {
        width: 30vw!important;
    }
}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    body {
        p {
            font-size: 1rem;
        }
    }
    .App {
        .main-content {
            >* {
                padding-top: 0;
            }
        }
    }
    .section-title {
        width: 50vw!important;
    }
}


/* Large devices (desktops, less than 1200px) */


/* @media (max-width: 1199.98px) {} */