.App {
    /* min-height: 100vh; */
    /* .topnav,
    .navbar {
        position: fixed!important;
        width: 100vw;
        background-color: transparent;
    } */
    .main-content {
        width: 100%;
        /* background-color: #10121B; */
        height: calc(100vh - 56px);
        position: relative;
        top: 56px;
        >* {
            width: 100%;
            height: calc(100vh);
            padding-top: 56px;
            position: relative;
        }
        .page-footer {
            height: 15vh;
            width: 100vw;
        }
    }
}