.App {
    .main-content {
        width: 100%;
        height: calc(100vh - 56px);
        position: relative;
        top: 56px;
        >* {
            width: 100%;
            height: (100vh);
            padding-top: 56px;
            position: relative;
        }
        .page-footer {
            height: 15vh;
            width: 100vw;
        }
    }
}