#contact {
    background-color: #10121B;
    .contact-form {
        border: 1px solid #c9cbdb;
        border-radius: 15px;
        padding: 5%;
        width: 50%;
        input[type="email"],
        input[type="text"],
        textarea[type="text"] {
            font-family: "Roboto", sans-serif;
            color: #c9cbdb;
        }
        .form-control {
            background: none;
            font-family: "Roboto", sans-serif;
            border: none;
            border-radius: 0;
            border-bottom: 2px solid #c9cbdb;
        }
        .form-control:focus {
            border-color: inherit;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .btn {
            background-color: #7362d5;
            border-color: #7362d5;
            width: 100%;
            max-width: 100px;
            box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
        }
        .btn:hover {
            background-color: #8d7dff;
            border-color: #8d7dff;
        }
    }
}

@media (max-width: 1199.98px) {
    #contact {
        .contact-form {
            width: 70%;
        }
    }
}

@media (max-width: 991.98px) {
    #contact {
        .contact-form {
            width: 100%;
        }
    }
}

@media (max-width: 767.98px) {
    #contact {
        .contact-form {
            .btn {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 575.98px) {
    #contact {
        .contact-form {
            width: 90%;
        }
    }
}