.modal-dialog {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    .modal-content {
        width: 50vw;
        color: black !important;
        text-align: justify;
        .modal-body {
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        object-fit: scale-down;
                        align-items: center;
                        img {
                            max-height: 50vw;
                            margin: auto;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}