.modal-dialog {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    .modal-content {
        width: 50vw;
        color: black !important;
        text-align: justify;
    }
}