#projects {
    background-color: #191c29;
    .projectList {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        //padding: 5%;
        .project-card {
            margin: 2rem;
            width: 40%;
            text-align: justify;
            background-color: #10121B;
            box-shadow: 5px 5px 5px #000;
            -webkit-filter: brightness(90%);
            .card-img-top {
                height: auto;
                width: 100%;
                max-height: 337px;
                object-fit: scale-down;
                padding-top: 1rem;
            }
            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                .btn {
                    margin-top: auto;
                    width: 100%;
                    max-width: 100px;
                }
            }
        }
        .project-card:hover {
            transform: scale(1.01);
            -webkit-filter: brightness(100%);
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -o-transition: all .2s ease;
            -ms-transition: all .2s ease;
            transition: all .2s ease;
        }
        .showToggler {
            .hide {
                display: none;
            }
        }
    }
    .btn {
        background-color: #7362d5;
        border-color: #7362d5;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .btn:hover {
        background-color: #8d7dff;
        border-color: #8d7dff;
    }
}

.section-layout {
    height: auto!important;
}

@media (max-width: 991.98px) {
    #projects {
        .projectList {
            .project-card {
                .card-img-top {
                    max-height: 500px!important;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    #projects {
        .projectList {
            .project-card {
                width: 80%;
                .card-img-top {
                    max-height: 400px!important;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    #projects {
        .projectList {
            .project-card {
                width: 90%;
            }
        }
        .btn {
            max-width: 100%!important;
        }
    }
}